
@{ ViewData["Title"] = "Home Page"; }
@{ List<Supplier> suppliersList = ViewBag.SuppliersList; }
@{ List<ProductCategory> categoriesList = ViewBag.CategoriesList; }
@{ int cartItemsCount = ViewBag.CartItemsCount; }



@model List<Codecool.CodecoolShop.Models.Product>

<div class="text-right">
    <a asp-controller="cart" asp-action="index" class="btn btn-primary btn-lg">
        <i class="bi bi-cart"></i> Cart
        @if (cartItemsCount == 0)
        {
<span>(@cartItemsCount)</span> }
else
{
<span class="badge badge-danger">@cartItemsCount</span>}
    </a>
</div>

<div class="container">

    <div class="btn-group-vertical">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose supplier
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="@Url.Action("Index", "Product")">All suppliers</a>
                <div class="dropdown-divider"></div>
                @for (int i = 0; i < suppliersList.Count; i++)
                {
    <a class="dropdown-item" href="@Url.Action("IndexBySupplier", "Product",
                                          new { supplierId = suppliersList[i].Id})">@suppliersList[i].Name</a>}
            </div>
        </div>
    </div>
    <div class="btn-group-vertical">

        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choose product category
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="@Url.Action("Index", "Product")">All categories</a>
                <div class="dropdown-divider"></div>
                @for (int i = 0; i < categoriesList.Count; i++)
                {
    <a class="dropdown-item" href="@Url.Action("IndexByCategory", "Product",
                                          new { categoryId = categoriesList[i].Id})">@categoriesList[i].Name</a>}
            </div>
        </div>
    </div>
    <div class="dropdown-divider"></div>
    @foreach (var element in Model)
    {

<div class="col-lg-3 col-lg-3" style="display: inline-block; max-width: 350px; @*height: 350px*@">
    <div class="card">
        <img src="img/@(element.Name).jpg" style="height: 50%; width: 50%; align-self: center; padding-top: 10px">

        <div class="card-body">
            <h5 class="card-title text-center">
                @*Product*@
                @*@{ var num = Model.IndexOf(element) + 1;}
                    @num*@
            </h5>
            <h5 class="card-title">@element.Name</h5>
            <p class="card-text">@element.Description.</p>
            <p class="card-text">Category: @element.ProductCategory.Department</p>
            <p class="card-text">Supplier: @element.Supplier.Name</p>
            <p class="card-text text-center"><strong>Price: @element.DefaultPrice.ToString("C2")</strong></p>
            <a asp-controller="cart" asp-action="buy" asp-route-id="@element.Id" type="button" class="btn btn-primary" style="float: bottom">Add To Cart</a>
        </div>
    </div>
</div>}
</div>
